TELEGRAM_BOT_TOKEN="8749525386:AAF0zaVMyVVkp0WNVZrdqlM5lJkR5q0EWWM"
OPENAI_API_KEY="sk-830dtIxi4SBRCF45sLZ5tg"
LITELLM_MODEL="qwen/qwen3.6-27b" # Optional, default is gpt-3.5-turbo
OPENAI_BASE_URL=https://adm.litellm.biznetgio.net/v1
